.slider {
    width: 600px;
    margin: auto;
    & img {
      max-width: 100%;
    }

     .slides{

      >img {
        max-width: 100%;

      }

      > img:not(.active){
        display: none;
      }

     }

     .controls{
      display: flex;
      justify-content: space-between;
     }
  }
  
 